.header-container{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-logo{
    font-size: 34px;
    padding: 15px 50px;
    font-family: 'Heebo', sans-serif;
    color: #1C2833;
}
.header-nav{
    margin-left: 500px;
    padding: 20px 10px;  
}

.header-button{
    background-color: #0047AB;
    color: white;
    margin-left: 20px;
    width: 160px;
}

a{
    text-decoration: none;
    font-size: 18px;
    margin: 0px 10px;
    color: #28282B;
    font-weight: bold;
}

button{
    padding: 12px 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

