<h2>Custom Class & Style Directive</h2>

<!-- <div [ngClass]="{appHighlight: true, 'app-container': true}">
    <p>
        This is a test content for Custom Class Directive Learning
    </p>
</div> -->

<!-- <div appClass [display]="{'app-container': true, appHighlight: true, appFont: 5 > 1}">
    <p>
        This is a test content for Custom Class Directive Learning
    </p>
</div> -->

<div [appClass]="{'app-container': true, appHighlight: true, appFont: 5 > 6}">
    <p>
        This is a test content for Custom Class Directive Learning
    </p>
</div>