<div>
    <app-child>
        <h3>Some Heading</h3>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Donec sagittis orci quam, vel feugiat elit fermentum et. 
            Morbi maximus eleifend tortor, quis posuere ante mollis id. 
            Curabitur lacinia sodales arcu in fringilla. Nullam id porttitor augue. 
            Curabitur eu magna justo. Ut dignissim ligula eu posuere consequat. 
            In ut elit vitae ipsum dapibus facilisis.
        </p>

        <app-test></app-test>
    </app-child>

    
</div>
