<!-- <ng16-template></ng16-template>
<app-ng-container></app-ng-container>
<app-content-child></app-content-child>

<div class="container">
    <input type="text" #inputEl (focus)="0">
    <button (click)="onBtnClicked(inputEl)">Submit</button>
    <app-component-lifecycle [message]="inputVal" [message2]="inputVal2" *ngIf="!toDestroy">
        <p #temp>User has entered following text: {{inputVal}}</p>
    </app-component-lifecycle>
    <br><br>
    <button (click)="DestroyComponent()">Show / Hide</button>
</div>

<app-custom-class-directive></app-custom-class-directive>

<app-custom-style-directive></app-custom-style-directive> -->

<!-- <app-custom-structure-directive></app-custom-structure-directive> -->

<!-- <app-custom-ng-switch></app-custom-ng-switch> -->

<app-service-example></app-service-example>

