.hero-container{
    width: 420px;
    padding: 30px 10px;
}
.hero-text{
    margin: 20px 0px;
}
.hero-button{
    background-color: #0047AB;
    color: white;
    width: 240px;
    margin-top: 10px;
}

button{
    padding: 12px 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}